.wrapper-invite{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.invite-content{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 60%;
}