
.title_bg{
   height: auto;
   background: linear-gradient(282.1deg, #B0FFB7 6.12%, #B0FFB7 15.86%, rgba(176, 255, 183, 0.969193) 36.09%, rgba(186, 175, 255, 0.58) 47.06%, rgba(186, 175, 255, 0.8) 68.94%, #B0DAFF 96.5%);
   padding: 100px 200px 80px 200px;

}

.search_bar{
   padding: 0px 200px;
   position: absolute;
   bottom: -60px;
   left: 50%;
   transform: translate(-50%, -50%);

}

.search_bar input[type=search]{
   width: 700px;
   height: 60px;
   border-style: none;
   border-radius: 50px;
   box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
}

.search_bar input::placeholder {
   padding-left: 30px;
   color: rgb(203, 203, 203);
 }

.search_bar input[type=submit]{
   position: absolute;
   right: 206px;
   bottom: 7px;
   background-color: #B0FFB7;
   border-radius: 50px;
   transform: skew(0);
   color: black;
   font-weight: 600;
   padding: 12px 14px;
}


.feed {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

nav{
   padding: 0px 200px !important;
}

.title_bg h1{
   font-size: clamp(3rem, 5vw, 4rem) !important;
   font-weight: 800 !important;
   margin-bottom: 30px !important;
   text-align: left;

}

.card{
   border-radius: 10px;
   height: auto;
   margin: 0px 20px 40px 20px;
   width: clamp(300px, 30%, 430px);
   border-style: none !important;
   position: relative;
   background-color: transparent !important;

}

.card .name_author{
   font-weight: 700;
}

.card .like{
   font-weight: 400;
   font-size: 14px;
   margin-bottom: 10px;
   padding-bottom: 10px;

}

.like i:nth-child(2){
margin-left: 15px;
}

 

.card .cover img{
   width: 100%; 
   height: 320px;
   border-radius: 30px;
}

.card_body{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 12px 20px;
   border-radius: 25px;
   background-color: white;
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.07);
}

.card_body p{
   margin-bottom: 3px !important;
   font-size: 14px;
}

.card_body .date{
   color: grey;
   font-size: 12px;
}

.card_body h5{
   font-weight: 700;
   font-size: 1.2rem;
   margin-bottom: 5px !important;
}

.card_body a{
   color: rgb(12, 129, 78);
   margin-right: 8px;
   padding:5px 10px 5px 0px;
   border-radius: 5px;
   font-size: 14px;
   font-weight: 600;
} 
