.pan{
   height: 100vh;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}



.left{
   margin-left: -5%;
}

.pan h1{
   font-size: clamp(4rem, 5vw, 6rem) !important;
   font-weight: 800 !important;
   margin-bottom: 30px !important;
   text-align: left;
   color: black;
}